.header-link{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: large;
}
.header-link:hover{
    color: black;
    font-weight: 900;
}
.logout-btn{
    border: none;
}
.header-name{
    font-size: larger;
    font-weight: 700;
}